<h2>Recipe Migration Management</h2>
<p>Configured Magento Store: <?php echo get_option('magentoStoreUrl'); ?></p>
<p>This Wordpress Store: <?php echo get_option('siteurl'); ?></p>
<div class="store-products"></div>
<script type="text/javascript">
jQuery(document).ready(function(){
	window.bindGetImages = function(){
		jQuery('.post-content').find('img').each(function(ix,el){
			jQuery(el).closest('a').click(function(event){
				event.preventDefault();
				console.log('Starting Image Download...');
				var atag = jQuery(this);
				event.preventDefault();
				var imageUrl = atag.attr('href').replace(/\//g,'~');
				jQuery.get(
					'/wp-content/plugins/nb-migrate/ajax.php?action=moveimage&sku=' 
						+ atag.closest('.post-content').attr('id')
						+ '&image_url=' + encodeURI(imageUrl),
					//{
					//	'file_url':atag.attr('href'),
					//	'sku': atag.closest('.post-content').attr('id')
					//},
					function(data,responseText,xhr){
						console.log('Finsihed.');
						console.log(jQuery.parseJSON(data));
						imagedata = jQuery.parseJSON(data);
						atag.attr('href',imagedata.image_location);
						atag.find('img').first().attr('src',imagedata.image_location);
					}
				);
				event.preventDefault();
			});
		});
	}

	var storeproducts = jQuery('.store-products');
	storeproducts.html('Fetching Recipes from Magento Store...');
	jQuery.get('/wp-content/plugins/nb-migrate/ajax.php?action=list',function(data,responseText,xhr){
		var table = jQuery('<table/>');
		table.append(jQuery('<th/>',{html:'Info'}));
		table.append(jQuery('<th/>',{html:'Link'}));
		table.append(jQuery('<th/>',{html:'Title'}));
		table.append(jQuery('<th/>',{html:'ID'}));
		storeproducts.html(table);
		jQuery(jQuery.parseJSON(data)).each(function(ix,el){
			tr = jQuery('<tr/>');
			infolink = jQuery('<a/>',{
				html:el.sku,
				'class':'info-link',
				'data-sku':el.sku,
				'href':'/wp-content/plugins/nb-migrate/ajax.php?action=info&sku=' + el.sku
			});
			migratelink = jQuery('<a/>',{
				html:'migrate',
				'class':'migrate-link',
				'data-sku':el.sku,
				'href':'/wp-content/plugins/nb-migrate/ajax.php?action=migrate&sku=' + el.sku
			});
			tr.append(jQuery('<td/>',{html:infolink}));
			tr.append(jQuery('<td/>',{html:migratelink}));
			tr.append(jQuery('<td/>',{html:el.name}));
			tr.append(jQuery('<td/>',{html:el.product_id}));
			table.append(tr);
		});
		jQuery('.info-link').click(function(event){
			event.preventDefault();
			var infolink = jQuery(this);
			sku = infolink.data('sku');
			if(infolink.hasClass('showing')){
				jQuery('.infofor-' + sku).remove();
				infolink.removeClass('showing')
			} else {
				infolink.addClass('showing');
				var row = infolink.closest('tr');
				inforow = jQuery('<tr/>',{'class':'infofor-' + sku});
				row.after(inforow);
				postcontainer = jQuery('<td/>',{'colspan':'4',html:'Fetching...'});
				inforow.append(postcontainer);
	
				jQuery.get(jQuery(this).attr('href'),function(data,responseText,xhr){
					infodata = jQuery.parseJSON(data);
					//inforow.html('');
					infotable = jQuery('<table/>',{'class':'tablefor-' + sku});
					infotablerow = jQuery('<tr/>',{'class':'tablerowfor-' + sku});
					infotable.append(infotablerow);
					//postcontent = jQuery('<td/>',{class:'post-content',html:infodata.description});
					
					contentToInclude = [infodata.url_path,infodata.original_url,infodata.image];
					
					//inforow.append(jQuery('<td/>',{html:infodata.image}));
					postcontent = jQuery('<div/>',{id:sku,class:'post-content',html:infodata.description})
					
					contentToInclude.push(postcontent[0].outerHTML);

					infotablerow.append(jQuery('<td/>',{html:contentToInclude.join('<br>')}));
					postcontainer.html('');
					postcontainer.append(infotable);
					
					window.bindGetImages()
					
				});
			}
			
		}); // Info Link
		jQuery('.migrate-link').click(function(event){
			event.preventDefault();
			var migratelink = jQuery(this);
			var sku = migratelink.data('sku');
			var info = jQuery('.infofor-' + sku);
	
			// Revise Post Content
			info.find('.post-content').find('.blog-yumprint-recipe').remove();
			info.find('.post-content').find('.post-footer').remove();
			info.find('.post-content').find('.comments').remove();
			
			jQuery('.post-content').find('img').each(function(ix,el){
				console.log('Starting Image Download...');
				var atag = jQuery(el).closest('a');
				if(atag.attr('href')){
					var imageUrl = atag.attr('href').replace(/\//g,'~');
					atag.addClass('updating');
					jQuery.get(
						'/wp-content/plugins/nb-migrate/ajax.php?action=moveimage&sku=' 
							+ atag.closest('.post-content').attr('id')
							+ '&image_url=' + encodeURI(imageUrl),
						function(data,responseText,xhr){
							console.log('Finsihed.');
							//console.log(jQuery.parseJSON(data));
							imagedata = jQuery.parseJSON(data);
							atag.attr('href',imagedata.image_location);
							atag.addClass('updated');
							atag.find('img').first().attr('src',imagedata.image_location);

							// -- Post the New Post Data ---
							if(jQuery('.updating').length == jQuery('.updated').length){
								if(confirm('Images are converted. Continue with Migration?')){
									jQuery.post(migratelink.attr('href'),{
										'revised-post':jQuery('#' + sku).html()
									},function(data,responseText,xhr){
										infodata = jQuery.parseJSON(data);
										console.log(infodata);
									});			
								}
							}
							// -----
						}
					);					
				}
			}); // --- Revise the post content
			
			
			
		}); // Info Link
	});

});
</script>