 <form enctype="multipart/form-data" method="post" action="" name="nbmigrate_settings_form">
    <h2>Recipe Migration Settings</h2>
    <table class="form-table">
    <?php foreach($settings as $key => $setting): ?>
        <tr valign="top">
            <th scope="row"><?php echo $setting['title']; ?></th>
            <td>
                <input placeholder="<?php echo $setting['placeholder']; ?>" type="<?php echo $setting['type']; ?>" name="data[<?php echo $key; ?>]" value="<?php echo get_option($key); ?>" class="regular-text" />
            </td>
        </tr>
    <?php endforeach; ?>
    </table>
	<p><input type="submit" name="submit" id="submit" class="button-primary" value="Save Changes"></p>
</form>